@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url(components/colors.css);

body {
  background-color: #fff6fa !important;
}

h1 {
  font-family: varela;
  font-size: 2.2rem !important;
  margin-top: 12rem !important;
  margin-bottom: 4rem !important;
  line-height: 1.1 !important;
}

.logo {
  margin-top: 5%;
}

.networks {
  margin-bottom: 5rem !important;
}

.social-logos:hover {
  opacity: 0.6;
}

.event {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.event p {
  margin-bottom: 0rem !important;
  margin-left: 1.2rem;
}

hr {
  margin-top: 2.6rem !important;
  margin-bottom: 2rem !important;
  border-width: 0 !important;
  border-top: 2px solid #000 !important;
  width: 45px;
  text-align: left;
  margin-left: 0;
}

/* about */
@media (min-width: 550px) .six.column {
  width: 48%;
}

.six.column {
  float: left;
  width: 48%;
}

.six.column.right {
  margin-left: 4%;
}

q {
  /* font-style: italic;
  font-size: 16px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana;
  border-left: 4px solid #ccc;
  padding-left: 8px; */
  font-style: normal;
  margin-left: 32px;
  font-family: "Segoe Print", "Times New Roman", Verdana;
  padding-left: 48px;
  background: url("../images/blockquote.png");
  background-repeat: no-repeat;
  min-height: 30px;
}

.brooks {
  position: relative;
  font-family: "Sanchez", serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-style: italic;
  background: url("../images/quotex48.png");
  background-repeat: no-repeat;
  padding-left: 48px;
  &:before {
    content: "\201C";
    position: absolute;
    top: 0.25em;
    left: -0.15em;
    color: darken($white, 7%);
    font-size: 6em;
    z-index: -1;
  }
}

blockquote {
  margin-bottom: 3em;
}
/* font-family: arial */
