@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url(components/colors.css);

body {
  background-color: #fff6fa !important;
}

h1 {
  font-family: varela;
  font-size: 2.2rem !important;
  margin-top: 16rem !important;
  margin-bottom: 5rem !important;
  line-height: 1.1 !important;
}

.logo {
  margin-top: 8%;
}

.networks {
  margin-bottom: 6rem !important;
}

.social-logos:hover {
  opacity: 0.6;
}

.event {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.event p {
  margin-bottom: 0rem !important;
  margin-left: 1.2rem;
}

hr {
  margin-top: 2rem !important;
  margin-bottom: 6rem !important;
  border-width: 0 !important;
  border-top: 1.8px solid #000 !important;
  width: 45px;
  text-align: left;
  margin-left: 0;
}
/* font-family: arial */
