@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");

h1 {
  font-family: varela;
  font-size: 2.2rem !important;
  margin-top: 20rem !important;
  margin-bottom: 5rem !important;
  line-height: 1.1 !important;
}

.networks {
  margin-bottom: 6rem !important;
}

.event {
  display: flex;
  align-items: center;
}

.event p {
  margin-bottom: 0rem !important;
  margin-left: 1.2rem;
}

/* font-family: arial */
