<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-146763574-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-146763574-1");
    </script>

    <meta charset="UTF-8" />

    <!-- SEO optimization -->
    <title>Lordinatrice portfolio</title>
    <meta
      name="description"
      content="Site web de Camille Regnault développeuse fullstack connue sous le pseudo de Lordinatrice."
    />
    <meta name="author" content="Camille Regnault - Lordinatrice" />

    <link rel="icon" type="image/png" href="../assets/logos/cr_logo.png" />

    <!-- OG Tags for social networks -->
    <meta name="og:title" property="og:title" content="Lordinatrice website" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.lordinatrice.com" />
    <meta property="og:image" content="../assets/logos/cr_logo.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Keywords -->
    <meta
      name="keywords"
      content="fullstack developer ruby js Paris portfolio lordinatrice"
    />

    <title>Lordinatrice</title>

    <!-- fonts google -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"
    />

    <!-- css -->
    <link rel="stylesheet" href="../css/style.css" />

    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- animate css  -->
    <link rel="stylesheet" href="animate.min.css">
  </head>

  <body>
    <div class="main-wrapper">
      <!-- hero section -->
      <div class="container">
        
        <!-- logo -->
        <div class="row">
          <div class="logo" title="lordinatrice.com">
            <img src="../assets/logos/cr_logo.png" alt="CR" />
          </div>
        </div>

        <!-- banner headline -->
        <div class="row headline">
          <div class="nine column">
            <h1>welcome Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
            <div class="networks animate fadeInRightBig">
              <img
                src="../assets/logos/linkedin_circle_small.png"
                alt="LinkedIn link"
                title="LinkedIn"
                class="social-logos"
              />
              <img
                src="../assets/logos/twitter_circle_small.png"
                alt="Twitter link"
                title="Twitter"
                class="social-logos"
              />
              <img
                src="../assets/logos/github_circle_small.png"
                alt="Github link"
                title="Github"
                class="social-logos"
              />
              <img
                src="../assets/logos/malt_circle.png"
                alt="Malt link"
                height="30"
                title="Malt"
                class="social-logos"
              />
              <a href="mailto:lordinatrice@gmail.com" target=”_blank”>
                  <img
                  src="../assets/logos/gmail_small.png"
                  alt="Email link"
                  title="Email"
                  class="social-logos"
                />
              </a>
            </div>
            <div class="event">
              <a href="https://www.meetup.com/fr-FR/meetup-LesHackeuses/events/265922192/"
                target=”_blank” >
                <img
                  src="../assets/logos/iconfinder_213_Meetup_logo_logos_4373118 (3).png"
                  alt="Meetup link"
                  title="Atelier Meetup"
                  height="100"
                  class="social-logos"
                />
              </a>
                <p>
                  <a href="https://www.meetup.com/fr-FR/meetup-LesHackeuses/events/265922192/"
                    target=”_blank” >
                    <strong>Intro to Git & Github</strong>
                  </a>
                  </br>
                    <b>December 12, 2019</b>
                  </br>
                  Paris 
                </p>
            </div>
          </div>
        </div>
        
        <div class="row">
          <hr>
        </div>

        <!-- About -->
        <div class="row">
          <div class="six column">
            <h2>ABOUT</h2>
            <p class="subhead">
              subhead Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusamus laborum molestiae doloremque explicabo, quis minus ducimus consequuntur voluptates deleniti dicta sunt tenetur in deserunt praesentium architecto suscipit unde error.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusamus laborum molestiae doloremque explicabo
            </p>
          </div>
          <div class="six column right">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusamus laborum molestiae doloremque explicabo, quis minus ducimus consequuntur voluptates deleniti dicta sunt tenetur in deserunt praesentium architecto suscipit unde error.
            </p>
            <blockquote class="brooks">
              Tragedy is when I cut my finger. Comedy is when you walk into an open sewer and die.
            </blockquote>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis accusamus laborum molestiae doloremque explicabo, quis minus ducimus consequuntur
            </p>
          </div>
        </div>

        <div class="row">
          <hr>
        </div>
        
        <!-- Contact section -->
        <div class="row">
          <div class="six column">
            <h3>To get in touch, write to 
              <a href="mailto:lordinatrice@gmail.com" target=”_blank” style="color:black; font-weight: bold;">
                lordinatrice@gmail.com
              </a>
            </h3>
          </div>
        </div>

        <!-- Main qualities -->
        <!-- Skills section -->
        <!-- Portfolio section -->
        
        <!-- Footer -->
        <div class="row">
          <hr class="foot-hr">
          <div class="footer">
            <div class="networks animate fadeInRightBig">
                <img
                  src="../assets/logos/linkedin_circle_small.png"
                  alt="LinkedIn link"
                  title="LinkedIn"
                  class="social-logos"
                  height="25"
                  style="padding-right:5px;"
                />
                <img
                  src="../assets/logos/twitter_circle_small.png"
                  alt="Twitter link"
                  title="Twitter"
                  class="social-logos"
                  height="25"
                  style="padding-right:5px;"
                />
                <img
                  src="../assets/logos/github_circle_small.png"
                  alt="Github link"
                  title="Github"
                  class="social-logos"
                  height="25"
                  style="padding-right:5px;"
                />
                <img
                  src="../assets/logos/malt_circle.png"
                  alt="Malt link"
                  height="23"
                  title="Malt"
                  class="social-logos"
                  style="padding-right:5px;"
                />
                <a href="mailto:lordinatrice@gmail.com" target=”_blank”>
                    <img
                    src="../assets/logos/gmail_small.png"
                    alt="Email link"
                    title="Email"
                    class="social-logos"
                    height="25"
                    style="padding-right:5px;"
                  />
                </a>
            </div>
            <p>© 2019 Camille Regnault. Made in Paris.</p>
          </div>
        </div>

      </div>
    </div>

    <script src="https://kit.fontawesome.com/b83b1405ce.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
