<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-146763574-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-146763574-1");
    </script>

    <meta charset="UTF-8" />

    <!-- SEO optimization -->
    <title>Lordinatrice portfolio</title>
    <meta
      name="description"
      content="Site web de Camille Regnault développeuse fullstack connue sous le pseudo de Lordinatrice."
    />
    <meta name="author" content="Camille Regnault - Lordinatrice" />

    <link rel="icon" type="image/png" href="../assets/logos/cr_logo.png" />

    <!-- OG Tags for social networks -->
    <meta name="og:title" property="og:title" content="Lordinatrice website" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.lordinatrice.com" />
    <meta property="og:image" content="../assets/logos/cr_logo.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Keywords -->
    <meta
      name="keywords"
      content="fullstack developer ruby js Paris portfolio lordinatrice"
    />

    <title>Lordinatrice</title>

    <!-- fonts google -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"
    />

    <!-- css -->
    <link rel="stylesheet" href="../css/style.css" />

    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- animate css  -->
    <link rel="stylesheet" href="animate.min.css">
  </head>

  <body>
    <div class="main-wrapper">
      <!-- hero section -->
      <div class="container">

        <!-- logo -->
        <div class="row">
          <div class="logo" title="lordinatrice.com">
            <img src="../assets/logos/cr_logo.png" alt="CR" />
          </div>
        </div>

        <!-- banner headline -->
        <div class="row headline">
          <div class="nine column">
            <div class=" .d-none .d-sm-block">
              <img
              src="../images/undraw_noted_pc9f.svg"
              alt="coder illustration"
              title="illustration"
              class="illustration"
              />
            </div>
            <div>
              <h1>
                Bienvenue sur Lordinatrice.com
              </h1>
              <h2>
                <hr class="small-hr">
                Mon nom est Camille Regnault —
                </br>
                développeuse fullstack, marketeuse, traductrice et speaker.
              </h2>
              <h3>
                Je suis engagée en faveur de la diversité et de l'inclusion dans le secteur de la tech.
              </h3>
            </div>

            <div class="networks">
              <img
                src="../assets/logos/linkedin_circle_small.png"
                alt="LinkedIn link"
                title="LinkedIn"
                class="social-logos"
              />
              <img
                src="../assets/logos/twitter_circle_small.png"
                alt="Twitter link"
                title="Twitter"
                class="social-logos"
              />
              <img
                src="../assets/logos/github_circle_small.png"
                alt="Github link"
                title="Github"
                class="social-logos"
              />
              <img
                src="../assets/logos/malt_circle.png"
                alt="Malt link"
                height="30"
                title="Malt"
                class="social-logos"
              />
              <a href="mailto:lordinatrice@gmail.com" target=”_blank”>
                  <img
                  src="../assets/logos/gmail_small.png"
                  alt="Email link"
                  title="Email"
                  class="social-logos"
                />
              </a>
            </div>
            <div class="event">
              <a href="https://www.meetup.com/fr-FR/meetup-LesHackeuses/events/265922192/"
                target=”_blank” >
                <img
                  src="../assets/logos/iconfinder_213_Meetup_logo_logos_4373118 (3).png"
                  alt="Meetup link"
                  title="Atelier Meetup"
                  height="100"
                  class="social-logos"
                />
              </a>
                <p>
                  <a href="https://www.meetup.com/fr-FR/meetup-LesHackeuses/events/265922192/"
                    target=”_blank” >
                    <strong>Intro à Git & Github</strong>
                  </a>
                  </br>
                    <b>12 décembre, 2019</b>
                  </br>
                  Paris
                </p>
            </div>
          </div>
        </div>

        <div class="row">
          <hr>
        </div>

        <!-- About -->
        <div class="row">
          <div class="six column">
            <h2>A PROPOS</h2>
            <p class="subhead">
              I am a software engineer coding in Ruby and Javascript. I enjoy both the logic and the creativity of coding !
            </p>
            <p>
              <span class="ruby">Ruby</span>
              <img
              src="../assets/logos/ruby-on-rails_x24.png"
              alt="ruby icon"
              title="ruby"
              />
              and
              <span class="js">Javascript</span>
              <img
              src="../assets/logos/js_x32.png"
              alt="ruby icon"
              title="ruby"
              />
              I write and speak about software development, I try to share my knowledge and experience to help women in the tech industry. I also create workshops for beginners and curious in the field of software development and professional development.
            </p>

            <p>
              diversity and inclusion in tech.. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <p>
              In hight school I had to decide between my two favorite courses, Maths and Foreign languages, for my studies in University. Interested in abroad … I went into the second one. But then something was missing.
            </p>


          </div>
          <div class="six column right">
             <p>
             I originally graduated from foreign languages and international business. After a few professional experiences in Luxembourg and Paris, I decided to attend Le Wagon Paris Bootcamp (link)… to match my interest in tech and technical studies/…
           </p>

            <p>
               I then started to attend more events and workshops geared towards the tech industry, and realized I also wanted to be involved in the tech community.
            </p>

            <blockquote class="brooks">
                If we spoke a different language, we would perceive a somewhat different world.
            </blockquote>

            <p>
              passionate about languages in general, I made my way to learn many foreign languages and experience foreign cultures. When I went into coding, I discovered and learned other kinds of languages, programming languages, with which I enjoy even more playing.
            </p>

            <p>
              I am now working on becoming a better software engineer day by day! I am currently working on some side projects which you can visit by clicking here.
            </p>
          </div>
        </div>

        <div class="row">
          <hr>
        </div>

        <!-- what is lordinatrice -->
        <div class="row">
          <div class="nine column">
            <h2> L'ORDINATRICE
            </h2>
            <p class="subhead">
            Que diriez-vous d' « ordinateur »  ?
            </p>
            <p>
              <a href="https://usbeketrica.com/article/computer-grrrls-hommage-femmes-informatique" target=”_blank” style="color:black; font-weight: bold; background-color:#ffd450;">
              « Ordinatrice »</a>

              est l'un des termes proposés en 1955 par le professeur Jacques Perret, professeur à la Sorbonne, dans sa correspondance avec le président d'IBM France afin de traduire le mot <strong>« computer »</strong> dans la langue française

              <a href=" http://centenaireibmfrance.blogspot.com/2014/04/1955-terme-ordinateur-invente-par-jacques-perret.html">
                [source]</a>

              .
            </p>
          </div>
        </div>

        <div class="row">
          <hr>
        </div>

        <!-- Contact section -->
        <div class="row">
          <div class="six column">
            <h3>To get in touch, write to
              <a href="mailto:lordinatrice@gmail.com" target=”_blank” style="color:black; font-weight: bold; background-color:#ffd450">
                lordinatrice@gmail.com
              </a>
            </h3>
          </div>
        </div>


        <!-- Main qualities -->
        <!-- Skills section -->
        <!-- Portfolio section -->

        <!-- Footer -->
          <hr class="foot-hr">
          <div class="footer">
            <div>
                <img
                  src="../assets/logos/linkedin_circle_small.png"
                  alt="LinkedIn link"
                  title="LinkedIn"
                  class="social-logos"
                  height="25"
                  style="padding-right:5px;"
                />
                <img
                  src="../assets/logos/twitter_circle_small.png"
                  alt="Twitter link"
                  title="Twitter"
                  class="social-logos"
                  height="25"
                  style="padding-right:5px;"
                />
                <img
                  src="../assets/logos/github_circle_small.png"
                  alt="Github link"
                  title="Github"
                  class="social-logos"
                  height="25"
                  style="padding-right:5px;"
                />
                <img
                  src="../assets/logos/malt_circle.png"
                  alt="Malt link"
                  height="23"
                  title="Malt"
                  class="social-logos"
                  style="padding-right:5px;"
                />
                <a href="mailto:lordinatrice@gmail.com" target=”_blank”>
                    <img
                    src="../assets/logos/gmail_small.png"
                    alt="Email link"
                    title="Email"
                    class="social-logos"
                    height="25"
                    style="padding-right:5px;"
                  />
                </a>
            </div>
            <div>
              <p >
              © 2019 Camille Regnault. Made in Paris.
              </p>
            </div>
          </div>

      </div>
    </div>

    <script src="https://kit.fontawesome.com/b83b1405ce.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
