$pink: #f54ea2;
$orange: #f38b32;
$gold: #fac563;
$yellow: #ffdd65;
$turquoise: #09d4de;
$blue: #1d58ff;

$white: #ffffff;
$first-white: #f6ffff;
$second-white: #f7f7f7;
$first-grey: #e5e3df;
$light: #d8d8d8;
$light-grey: #b2b2b2;
$light-silver: #999999;
$silver: #777777;
$dark-grey: #444444;
$black: #222222;
